*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*@font-face {
    font-family: Caviar;
    src: url("../fonts/CaviarDreams.ttf");
}*/

body {
  margin: 0;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}

.container {
  background-image: url("../img/water2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  background: rgba(255,255,255,0.3);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 60%;
}

.logo h1 {
  padding-left: 30px;
  font-family: 'Cherry Swash', cursive;
  font-size: 44px;
}

.nav ul {
  list-style: none;
  width: 40%;
}

.nav li {
  display: inline;
}

.nav li:nth-of-type(n+2):before {
  padding-right: 30px;
  padding-left: 30px;
  content: "|";
}

/*Nav Area End*/

h2 {
  text-align: center;
  text-shadow: .5px .5px black;
}

.content1 {
  background: rgba(0,0,0,0.7);
  position: relative;
}

.summary {
  padding: 35px;
  width: 50%;
  height: auto;
  float: left;
}

.pic-info {
  padding: 35px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-info img {
  width: 200px;
  height: auto;
}

.pic-info:before {
  content: '"Is and always will be my favorite porter!"';
  position: absolute;
  width: 100px;
  height: auto;
  font-size: 14px;
  top: 100px;
  right: 60px;
  text-align: center;
  z-index: 1;
}

.form {
  width: 50px;
  width: 50%;
  margin-right: 50px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
}

/*Content1 Area Ends*/

.content2 {
  margin: 0;
  padding-top: 50px;
  background: rgba(255,255,255,0.3);
  position: relative;
}

.gallery {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery img {
  width: 180px;
  height: auto;
  border-radius: 3px;
}

.gallery img:first-of-type {
  margin-right: 45px;
}

.gallery img:nth-of-type(3) {
  transform: scale(.7);
  margin-left: 20px;
}

.gallery img:nth-of-type(n+4) {
  transform: scale(.75);
}

/*Content2 Area Ends*/

.footer {
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  padding: 15px 50px 15px 50px;
}

.footer p {
  width: 80%;
}

.icons {
  width: 20%;
}

a {
  padding-right: 25px;
  float: right;
}
