*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: Caviar;
    src: url("../fonts/CaviarDreams.ttf");
}

body {
  margin: 0;
  color: white;
  font-family: Caviar;
}

.container {
  background-image: url("../img/water.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  position: relative;
}

.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  width: 60%;
}

.logo h1 {
  padding-left: 30px;
}

.nav ul {
  list-style: none;
  width: 40%;
}

.nav li {
  display: inline;
}

.nav li:nth-of-type(-n+2) {
  padding-right: 50px;
}

/*Nav Area End*/

h3 {
  text-align: center;
}

.content1 {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  position: absolute;
  margin: 120px 50px 0 50px;
}

.summary {
  padding: 35px;
  width: 50%;
  float: left;
  top: 0;
  left: 0;
}

.pic-info {
  padding: 35px;
  /*float: left;*/
  width: 50%;
  /*top: 0;
  right: 0;*/
  display: flex;
  align-items: center;
  justify-content: center
}

.pic-info img {
  width: 40%;
  /*position: relative;*/
}

.form {
  width: 50px;
  width: 50%;
  margin-right: 50px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: left;
}

/*Content1 Area Ends*/

.content2 {
  padding-top: 50px;
  background: rgba(0,0,0,0.5);
  position: absolute;
}

.gallery {
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery img {
  width: 15%;
  height: auto;
  border-radius: 3px;
}

.gallery img:first-of-type {
  margin-right: 45px;
}

.gallery img:nth-of-type(3) {
  transform: scale(.7);
  margin-left: 20px;
}

.gallery img:nth-of-type(n+4) {
  transform: scale(.75);
}
